.App {
  text-align: center;
}

.Columns {
  display: flex;
  justify-content: space-between
}

.Column {
  min-height: 400px;
  width: 200px;
  border: 1px solid black
}
.Todo {
  border: 1px solid red
  
}
.TodoForm {
  border: 1px solid green
  
}
